################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PromotionEngineSolution/PromotionEngine.Business/bin/Debug
/PromotionEngineSolution/PromotionEngine.Business/obj/Debug
/PromotionEngineSolution/PromotionEngine.Entities/bin/Debug
/PromotionEngineSolution/PromotionEngine.Entities/obj/Debug
/PromotionEngineSolution/PromotionEngine.UnitTests/bin/Debug
/PromotionEngineSolution/PromotionEngine.DataAccess/obj/Debug
/PromotionEngineSolution/PromotionEngine.Common/obj/Debug
/PromotionEngineSolution/PromotionEngine.Entities/obj/Release
/PromotionEngineSolution/packages/Newtonsoft.Json.13.0.1
